* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: url(backgprofile.jpeg);
	font-family: 'Pacifico', cursive;
	font-family: 'Patrick Hand', cursive;
	text-align: center;
	 }

#cabeca {
	font-size: 20px;
	color: #CD5C5C;
	text-align: center;
	}
#tronco {
	background-size: cover;
	background-repeat: no-repeat;
	
	
}

#sessao{ 
	width: 300px;
	height: 100px;
	padding: 50px;
	margin: 50px;


}

.aga2 { 
	color: #00008B;
	 margin-left: 5px;
	 font-size: 20px;
	font-weight: 700;
	color: blue;
}

.aga1 {
	color: #00008B;
	 margin-left: 5px;
	 font-size: 20px;
	font-weight: 700;
	color: red;
}
#sessao2 {
	width: 500px;
	height: 100px;
	padding: 50px;
	margin: 50px;
}
.fotinha{
	text-align: center;
	width: 150px;
	height: 150px;
	border: dashed;
	border-color: pink;
}
.parag{
	color: #ffff;
	font-size: 20px;
	line-height: 30px;
	}


